<h3>> whoami</h3>
<p>
    IT Support Specialist & Linux Administrator based in Jakarta,Indonesia.
    I specialize in <strong>Legacy Hardware Optimization</strong> and <strong>Automation</strong>.
</p>
<p>
    Currently operating in "Survival Mode," which means I solve expensive problems with $0 budgets using Bash, Python, and Open Source tools.
</p>
<br>
<h3>> skills --list</h3>
<ul>
    <li>[*] Linux Administration (Mint/Debian)</li>
    <li>[*] Bash & Python Automation</li>
    <li>[*] Hardware Diagnostics & Repair</li>
    <li>[*] AI API Integration (Gemini)</li>
</ul>

